*   {
    font-family: sans-serif;
    text-align: justify;
    border-radius: 1em;
}

body    {
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    background-color: #192a56;
    color: #dcdde1;
}

main > p    {
    text-align: center;
    padding: .5em;
    background-color: #273c75;
}

nav {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
nav a  {

    display: inline-flex;
    text-decoration: none;
    background-color: #0097e6;
    padding: 1em;

    border-radius: 0.25em;

    font-size: 1.5em;
}
nav a:hover {
    border-radius: 0.5em;
    background-color: #00a8ff;
    transition: all ease-in .1s;
}

h1  {
    text-align: center;
}

article {
    background-color: #487eb0;
    padding: .5em;
}

article > section:nth-of-type(odd)  {
    background-color: #40739e;
}

section {
    padding-bottom: 1em;
    padding-top: .5em;
}

p   {
    padding-left: 1em;
    padding-right: 1em;
}

a   {
    text-decoration: none;
    color: #f5f6fa;
    background-color: #8c7ae6;
    font-style: italic;
    transition: all ease-out 1s;
    padding: .125em .25em .125em .25em;
    border-radius: .25em;
}
a:hover {
    color: #dcdde1;
    background-color: #9c88ff;
    transition: all ease-in .1s;
}

footer p    {
    text-align: center;
}

#mainheading    {
    font-size: 3.3em;
    font-family: 'Orbitron', sans-serif;
}

.keyword    {
    font-weight: bold;
}

@media screen and (min-width: 800px)    {
    body    {
        justify-content: center;
    }

    main    {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    article {
        padding: 1em;
    }
}